.portfolio__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.portfolio__contacts div {
    max-width: 150px;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    .portfolio__contacts div {
        max-width: 30px;
        margin: 1rem;

    }
}
