.portfolio__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.portfolio__contacts div {
    max-width: 150px;
    margin: 1rem;
}

.portfolio__contacts img {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 700px) {
    .portfolio__contacts div {
        max-width: 30px;
        margin: 1rem;
    }
}
